# TASK 6.1 - Sourcing Open Data

#### Table of Content

1. Importing Libraries 
2. Importing Dataframe
3. Checking the Data
4. Cleaning the Data
5. Handling Missing Values
6. Exporting the Data

## 1. Importing Libraries

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Removing limit on column display

pd.options.display.max_columns = None
pd.options.display.max_rows = None

## 2. Importing Dataframe

In [3]:
# Creating a path

path = r'/Users/charliegehant/Dropbox/4. Career Foundry/Achievement 6 - Advanced Analytics & Dashboard Design/04-2022 Airbnb Analysis'

In [4]:
# Importing dataframe

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'listings.csv'), index_col = False)

## 3. Checking the Data

In [5]:
# Checking dataframe

df.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20211207182339,2021-12-09,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,https://www.airbnb.com/users/show/54730,Alina,2009-11-16,"London, England, United Kingdom",I am a Multi-Media Visual Artist and Creative ...,within a few hours,100%,85%,f,https://a0.muscache.com/im/users/54730/profile...,https://a0.muscache.com/im/users/54730/profile...,LB of Islington,3.0,3.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,t,"Islington, Greater London, United Kingdom",Islington,NaN,51.56861,-0.11270,Private room in rental unit,Private room,2,NaN,1 shared bath,1.0,NaN,"[""Hot water"", ""Heating"", ""Coffee maker"", ""Buil...",$65.00,1,29,1.0,1.0,29.0,29.0,1.0,29.0,NaN,t,26,56,86,361,2021-12-09,22,1,1,2010-08-18,2021-11-21,4.86,4.80,4.85,4.80,4.90,4.65,4.75,NaN,f,2,1,1,0,0.16
1,15400,https://www.airbnb.com/rooms/15400,20211207182339,2021-12-09,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,https://www.airbnb.com/users/show/60302,Philippa,2009-12-05,"Kensington, England, United Kingdom","English, grandmother, I have travelled quite ...",within a day,67%,50%,f,https://a0.muscache.com/im/users/60302/profile...,https://a0.muscache.com/im/users/60302/profile...,Chelsea,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"London, United Kingdom",Kensington and Chelsea,NaN,51.48780,-0.16813,Entire rental unit,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""Hot water"", ""Heating"", ""Coffee maker"", ""TV w...",$75.00,3,50,3.0,3.0,50.0,50.0,3.0,50.0,NaN,t,0,0,0,4,2021-12-09,89,0,0,2009-12-21,2020-03-16,4.79,4.84,4.88,4.87,4.82,4.93,4.73,NaN,f,1,1,0,0,0.61
2,17402,https://www.airbnb.com/rooms/17402,20211207182339,2021-12-09,Superb 3-Bed/2 Bath & Wifi: Trendy W1,You'll have a wonderful stay in this superb mo...,"Location, location, location! You won't find b...",https://a0.muscache.com/pictures/39d5309d-fba7...,67564,https://www.airbnb.com/users/show/67564,Liz,2010-01-04,"Brighton and Hove, England, United Kingdom",We are Liz and Jack. We manage a number of ho...,within an hour,80%,70%,f,https://a0.muscache.com/im/users/67564/profile...,https://a0.muscache.com/im/users/67564/profile...,Fitzrovia,18.0,18.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"London, Fitzrovia, United Kingdom",Westminster,NaN,51.52195,-0.14094,Entire rental unit,Entire home/apt,6,NaN,2 baths,3.0,3.0,"[""Hot water"", ""Heating"", ""Coffee maker"", ""Iron...",$265.00,4,365,2.0,4.0,365.0,365.0,4.0,365.0,NaN,t,4,34,60,295,2021-12-09,43,1,0,2011-03-21,2021-06-28,4.69,4.80,4.68,4.66,4.66,4.85,4.59,NaN,f,1,1,0,0,0.33
3,17506,https://www.airbnb.com/rooms/17506,20211207182339,2021-12-09,Boutique Chelsea/Fulham Double bed 5-star ensuite,Enjoy a chic stay in this elegant but fully mo...,Fulham is 'villagey' and residential – a real ...,https://a0.muscache.com/pictures/11901327/e63d...,67915,https://www.airbnb.com/users/show/67915,Charlotte,2010-01-05,"London, England, United Kingdom","Named best B&B by The Times. Easy going hosts,...",NaN,NaN,NaN,f,https://a0.muscache.com/im/users/67915/profile...,https://a0.muscache.com/im/users/67915/profile...,Fulham,3.0,3.0,"['email', 'phone', 'jumio', 'selfie', 'governm...",t,t,"London, United Kingdom",Hammersmith and Fulham,NaN,51.47935,-0.19743,Private room in townhouse,Private room,2,NaN,1 private bath,1.0,1.0,"[""Shampoo"", ""Carbon monoxide alarm"", ""Hot wate...",$150.00,3,21,3.0,3.0,21.0,21.0,3.0,21.0,NaN,t,29,59,89,364,2021-12-09,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,2,0,2,0,NaN
4,25123,https://www.airbnb.com/rooms/25123,20211207182339,2021-12-09,Clean big Room in London (Room 1),Big room with double bed/ clean sheets/ clean ...,Barnet is one of the largest boroughs in Londo...,https://a0.muscache.com/pictures/456905/a004b9...,103583,https://www.airbnb.com/users/show/103583,Grace,2010-04-05,"London, England, United Kingdom","Easy going, friendly\n\nAttentive to detail an...",NaN,NaN,NaN,f,https://a0.muscache.com/im/users/103583/profil...,https://a0.muscache.com/im/users/103583/profil...,LB of Barnet,3.0,3.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,"Barnet, England, United Kingdom",Barnet,NaN,51.57438,-0.21081,Private room in residential home,Private room,2,NaN,1.5 shared baths,1.0,NaN,"[""Shampoo"", ""Washer"", ""Heating"", ""Coffee maker...",$29.00,10,1120,10.0,10.0,1125.0,1125.0,10.0,1125.0,NaN,t,0,0,0,0,2021-12-09,129,0,0,2010-04-14,2020-03-15,4.78,4.70,4.94,4.91,4.89,4.45,4.74,NaN,t,3,0,3,0,0.91

In [6]:
# Checking the shape of df. 
# There are a lot of columns! 

df.shape

(66641, 74)

In [7]:
# Extracting column names

df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [8]:
# Checking NaN values, there are a lot
# BUT first I will delete columns I do not need for my analysis

df.isnull().sum()

id                                                  0
listing_url                                         0
scrape_id                                           0
last_scraped                                        0
name                                               24
description                                      2344
neighborhood_overview                           26674
picture_url                                         0
host_id                                             0
host_url                                            0
host_name                                          59
host_since                                         59
host_location                                     201
host_about                                      29692
host_response_time                              34334
host_response_rate                              34334
host_acceptance_rate                            32993
host_is_superhost                                  59
host_thumbnail_url                                 59
host_picture_url                                   59
host_neighbourhood                              19521
host_listings_count                                59
host_total_listings_count                          59
host_verifications                                  0
host_has_profile_pic                               59
host_identity_verified                             59
neighbourhood                                   26673
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                    66641
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                       66641
bathrooms_text                                    244
bedrooms                                         4017
beds                                             3646
amenities                                           0
price                                               0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              3
maximum_minimum_nights                              3
minimum_maximum_nights                              3
maximum_maximum_nights                              3
minimum_nights_avg_ntm                              3
maximum_nights_avg_ntm                              3
calendar_updated                                66641
has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
first_review                                    18559
last_review                                     18559
review_scores_rating                            18559
review_scores_accuracy                          19877
review_scores_cleanliness                       19866
review_scores_checkin                           19916
review_scores_communication                     19880
review_scores_location                          19917
review_scores_value                             19920
license                                         66641
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                               18559
dtype: int64

## 4. Cleaning the Data

In [9]:
# Deleting all the columns I deemed unecessary (deleting 31 columns)

df_drop = df.drop(columns = ['listing_url','scrape_id','last_scraped','name','description','neighborhood_overview','picture_url','host_url','host_name','host_location','host_about','host_thumbnail_url','host_picture_url','host_neighbourhood','host_total_listings_count','host_verifications','neighbourhood','neighbourhood_group_cleansed','bathrooms','amenities','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm','calendar_updated','calendar_last_scraped','license'])

In [10]:
# Checking the new dataframe

df_drop.shape

(66641, 45)

In [11]:
# Checking data types

df_drop.dtypes

id                                                int64
host_id                                           int64
host_since                                       object
host_response_time                               object
host_response_rate                               object
host_acceptance_rate                             object
host_is_superhost                                object
host_listings_count                             float64
host_has_profile_pic                             object
host_identity_verified                           object
neighbourhood_cleansed                           object
latitude                                        float64
longitude                                       float64
property_type                                    object
room_type                                        object
accommodates                                      int64
bathrooms_text                                   object
bedrooms                                        float64
beds                                            float64
price                                            object
minimum_nights                                    int64
maximum_nights                                    int64
has_availability                                 object
availability_30                                   int64
availability_60                                   int64
availability_90                                   int64
availability_365                                  int64
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
number_of_reviews_l30d                            int64
first_review                                     object
last_review                                      object
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
instant_bookable                                 object
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
dtype: object

In [12]:
# Finding summary statistics

df_drop.describe()

,id,host_id,host_listings_count,latitude,longitude,accommodates,bedrooms,beds,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,6.664100e+04,6.664100e+04,66582.000000,66641.000000,66641.000000,66641.000000,62624.000000,62995.000000,66641.000000,6.664100e+04,66641.000000,66641.000000,66641.000000,66641.000000,66641.000000,66641.000000,66641.000000,48082.000000,46764.000000,46775.000000,46725.000000,46761.000000,46724.000000,46721.000000,66641.000000,66641.000000,66641.000000,66641.000000,48082.000000
mean,2.842799e+07,1.051238e+08,64.943213,51.509631,-0.127954,3.004937,1.489253,1.757981,6.654852,2.381714e+04,6.391126,16.046353,26.662535,99.679807,15.651086,2.078915,0.287511,4.540116,4.733359,4.622239,4.792929,4.807941,4.748040,4.636002,25.229979,20.727120,4.225057,0.212107,0.635780
std,1.552529e+07,1.140055e+08,376.578485,0.048334,0.097315,1.927051,0.883943,1.262523,30.393704,4.375146e+06,9.993942,21.929707,34.594934,134.239988,36.777232,7.466038,1.076328,0.913813,0.509902,0.584438,0.473504,0.468092,0.426047,0.521462,109.186162,101.755775,20.918273,3.240567,1.037195
min,1.391300e+04,2.010000e+03,0.000000,51.295937,-0.496160,0.000000,1.000000,1.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.586433e+07,1.744935e+07,1.000000,51.482870,-0.188670,2.000000,1.000000,1.000000,1.000000,3.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.500000,4.670000,4.500000,4.780000,4.810000,4.670000,4.500000,1.000000,0.000000,0.000000,0.000000,0.090000
50%,2.764398e+07,5.194492e+07,1.000000,51.513830,-0.124930,2.000000,1.000000,1.000000,2.000000,1.125000e+03,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,0.000000,4.810000,4.900000,4.820000,4.960000,5.000000,4.880000,4.770000,1.000000,1.000000,1.000000,0.000000,0.290000
75%,4.180652e+07,1.657746e+08,3.000000,51.539960,-0.068960,4.000000,2.000000,2.000000,4.000000,1.125000e+03,10.000000,35.000000,63.000000,180.000000,14.000000,1.000000,0.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,1.000000,1.000000,0.000000,0.790000
max,5.371305e+07,4.348812e+08,3750.000000,51.679830,0.288570,16.000000,22.000000,38.000000,1125.000000,1.000000e+09,30.000000,60.000000,90.000000,365.000000,974.000000,516.000000,85.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,845.000000,844.000000,188.000000,56.000000,57.660000

In [13]:
# Checking the data

df_drop.head()

,id,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,54730,2009-11-16,within a few hours,100%,85%,f,3.0,t,t,Islington,51.56861,-0.11270,Private room in rental unit,Private room,2,1 shared bath,1.0,NaN,$65.00,1,29,t,26,56,86,361,22,1,1,2010-08-18,2021-11-21,4.86,4.80,4.85,4.80,4.90,4.65,4.75,f,2,1,1,0,0.16
1,15400,60302,2009-12-05,within a day,67%,50%,f,1.0,t,t,Kensington and Chelsea,51.48780,-0.16813,Entire rental unit,Entire home/apt,2,1 bath,1.0,1.0,$75.00,3,50,t,0,0,0,4,89,0,0,2009-12-21,2020-03-16,4.79,4.84,4.88,4.87,4.82,4.93,4.73,f,1,1,0,0,0.61
2,17402,67564,2010-01-04,within an hour,80%,70%,f,18.0,t,t,Westminster,51.52195,-0.14094,Entire rental unit,Entire home/apt,6,2 baths,3.0,3.0,$265.00,4,365,t,4,34,60,295,43,1,0,2011-03-21,2021-06-28,4.69,4.80,4.68,4.66,4.66,4.85,4.59,f,1,1,0,0,0.33
3,17506,67915,2010-01-05,NaN,NaN,NaN,f,3.0,t,t,Hammersmith and Fulham,51.47935,-0.19743,Private room in townhouse,Private room,2,1 private bath,1.0,1.0,$150.00,3,21,t,29,59,89,364,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,2,0,2,0,NaN
4,25123,103583,2010-04-05,NaN,NaN,NaN,f,3.0,t,t,Barnet,51.57438,-0.21081,Private room in residential home,Private room,2,1.5 shared baths,1.0,NaN,$29.00,10,1120,t,0,0,0,0,129,0,0,2010-04-14,2020-03-15,4.78,4.70,4.94,4.91,4.89,4.45,4.74,t,3,0,3,0,0.91

In [14]:
# Exploring the data

df_drop['host_response_time'].value_counts(dropna = False)

NaN                   34334
within an hour        18223
within a few hours     6840
within a day           5088
a few days or more     2156
Name: host_response_time, dtype: int64

In [16]:
# Exploring the data

df_drop['host_identity_verified'].value_counts(dropna = False)

t      53045
f      13537
NaN       59
Name: host_identity_verified, dtype: int64

In [17]:
# Looking for duplicates (no duplicates found)

df_dups = df_drop[df_drop.duplicated()]
df_dups

Empty DataFrame
Columns: [id, host_id, host_since, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_listings_count, host_has_profile_pic, host_identity_verified, neighbourhood_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms_text, bedrooms, beds, price, minimum_nights, maximum_nights, has_availability, availability_30, availability_60, availability_90, availability_365, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month]
Index: []

## 5. Handling Missing Values

### There are quite a few columns with NaN / Missing Values. I will adress them all individually.

In [18]:
# Checking how much data is missing

df_drop.isnull().sum()

id                                                  0
host_id                                             0
host_since                                         59
host_response_time                              34334
host_response_rate                              34334
host_acceptance_rate                            32993
host_is_superhost                                  59
host_listings_count                                59
host_has_profile_pic                               59
host_identity_verified                             59
neighbourhood_cleansed                              0
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms_text                                    244
bedrooms                                         4017
beds                                             3646
price                                               0
minimum_nights                                      0
maximum_nights                                      0
has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
first_review                                    18559
last_review                                     18559
review_scores_rating                            18559
review_scores_accuracy                          19877
review_scores_cleanliness                       19866
review_scores_checkin                           19916
review_scores_communication                     19880
review_scores_location                          19917
review_scores_value                             19920
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                               18559
dtype: int64

### Dropping the 59 NaN rows of 'host_since'; these 59 NaN are the same NaN from 'host_is_superhost', 'host_listings_count', 'host_has_profile_pic' and 'host_identity_verified'. I'm therefore defacto dropping these too, without directly dropping them.
> Note: I decided to drop these rows as it's the fastest and easiest way to handle this data; there are only 59 rows of NaN so it is insignificant to the whole dataset (66k+ rows)

In [19]:
df_drop.dropna(subset = ['host_since'], inplace = True)

### Now there are no NaN in 'host_since', I am converting it from object to datetime

In [20]:
df_drop['host_since'] = pd.to_datetime(df_drop['host_since'])

### Replacing NaN from 'host_response_time' & 'bathrooms_text' to 'Unknown'
> Note: I decided to impute 'Unknown' as these missing rows belong to text-based, categorical columns

In [21]:
df_drop['host_response_time'].fillna('Unknown', inplace=True)
df_drop['bathrooms_text'].fillna('Unknown', inplace=True)

### Handling 'host_response_rate' & 'host_acceptance_rate' columns
> Note: Here is a slightly complex transformation, but necessary in order to be able to correlate these values

> 1. Removing the % sign from the 'host_response_rate' & 'host_acceptance_rate' columns

In [22]:
df_drop['host_response_rate'] = df_drop['host_response_rate'].str.replace('%','')

In [23]:
df_drop['host_acceptance_rate'] = df_drop['host_acceptance_rate'].str.replace('%','')

> 2. Renaming the columns

In [24]:
df_drop.rename(columns = {'host_response_rate' : 'host_resp_rate_pct', 'host_acceptance_rate' : 'host_accept_rate_pct'}, inplace = True)

> 3. Imputing the mean value for both columns (For ease, the mean was calculated in excel / Data type error in Python)

In [25]:
df_drop['host_resp_rate_pct'].fillna(89, inplace=True)

In [26]:
df_drop['host_accept_rate_pct'].fillna(75, inplace=True)

> 4. Changing the data type (from object to int)

In [27]:
df_drop['host_resp_rate_pct'] = df_drop['host_resp_rate_pct'].astype('int')

In [28]:
df_drop['host_accept_rate_pct'] = df_drop['host_accept_rate_pct'].astype('int')

### Handling the 'price' column
> The price column is read as Object due to the $ sign. I would like it to be in float format.

> 1. Removing the $ sign from the 'price' column

In [29]:
df_drop['price'] = df_drop['price'].str.replace('$','', regex=True)

> 2. Renaming the columns

In [30]:
df_drop.rename(columns = {'price' : 'price_usd'}, inplace = True)

> 3. Removing the ',' to be able to convert data type

In [31]:
df_drop['price_usd'] = df_drop['price_usd'].str.replace(',','')

> 4. Changing the data type (from object to int)

In [32]:
df_drop['price_usd'] = df_drop['price_usd'].astype(float)

### Replacing NaN from 'first_review' & 'last_review' to '1900-01-01'
> Note: I decided to impute '1900-01-01' as it will be easy to see these dates as being just place holders and it will allow me to convert all of the columns values into a date format.

In [33]:
df_drop['first_review'].fillna('1900-01-01', inplace=True)
df_drop['last_review'].fillna('1900-01-01', inplace=True)

> Now converting the data type to date

In [34]:
df_drop['first_review'] = pd.to_datetime(df_drop['first_review'])

In [35]:
df_drop['last_review'] = pd.to_datetime(df_drop['last_review'])

### Imputing the mean for 'bedrooms', 'beds' and other continuous variables 
> Note: Here I made this choice to be able to use this dataset and find correlations, without changing key metrics.

> For 'bedrooms' and 'beds', imputing the mean allows me to still know which values are imputed and which are orginal. For all other continuous variables, imputing the mean won't change the dataset's key metrics but will improve usability.

In [36]:
# Checking the mean of each continuous variables with missing values

df_drop[['bedrooms','beds','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','reviews_per_month']].mean()

bedrooms                       1.489268
beds                           1.758031
review_scores_rating           4.539933
review_scores_accuracy         4.733340
review_scores_cleanliness      4.622212
review_scores_checkin          4.792921
review_scores_communication    4.807926
review_scores_location         4.748076
review_scores_value            4.635934
reviews_per_month              0.635810
dtype: float64

In [37]:
# Replacing continuous variables' missing values with their respective mean value.

df_drop['bedrooms'].fillna(1.49, inplace=True)
df_drop['beds'].fillna(1.76, inplace=True)
df_drop['review_scores_rating'].fillna(4.54, inplace=True)
df_drop['review_scores_accuracy'].fillna(4.73, inplace=True)
df_drop['review_scores_cleanliness'].fillna(4.62, inplace=True)
df_drop['review_scores_checkin'].fillna(4.79, inplace=True) 
df_drop['review_scores_communication'].fillna(4.80, inplace=True) 
df_drop['review_scores_location'].fillna(4.75, inplace=True) 
df_drop['review_scores_value'].fillna(4.64, inplace=True) 
df_drop['reviews_per_month'].fillna(4.64, inplace=True)

### FINALLY, checking the results of my queries

In [38]:
# No More NaN

df_drop.isnull().sum()

id                                              0
host_id                                         0
host_since                                      0
host_response_time                              0
host_resp_rate_pct                              0
host_accept_rate_pct                            0
host_is_superhost                               0
host_listings_count                             0
host_has_profile_pic                            0
host_identity_verified                          0
neighbourhood_cleansed                          0
latitude                                        0
longitude                                       0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms_text                                  0
bedrooms                                        0
beds                                            0
price_usd                                       0
minimum_nights                                  0
maximum_nights                                  0
has_availability                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
first_review                                    0
last_review                                     0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [39]:
# Harmonious & useful data types

df_drop.dtypes

id                                                       int64
host_id                                                  int64
host_since                                      datetime64[ns]
host_response_time                                      object
host_resp_rate_pct                                       int64
host_accept_rate_pct                                     int64
host_is_superhost                                       object
host_listings_count                                    float64
host_has_profile_pic                                    object
host_identity_verified                                  object
neighbourhood_cleansed                                  object
latitude                                               float64
longitude                                              float64
property_type                                           object
room_type                                               object
accommodates                                             int64
bathrooms_text                                          object
bedrooms                                               float64
beds                                                   float64
price_usd                                              float64
minimum_nights                                           int64
maximum_nights                                           int64
has_availability                                        object
availability_30                                          int64
availability_60                                          int64
availability_90                                          int64
availability_365                                         int64
number_of_reviews                                        int64
number_of_reviews_ltm                                    int64
number_of_reviews_l30d                                   int64
first_review                                    datetime64[ns]
last_review                                     datetime64[ns]
review_scores_rating                                   float64
review_scores_accuracy                                 float64
review_scores_cleanliness                              float64
review_scores_checkin                                  float64
review_scores_communication                            float64
review_scores_location                                 float64
review_scores_value                                    float64
instant_bookable                                        object
calculated_host_listings_count                           int64
calculated_host_listings_count_entire_homes              int64
calculated_host_listings_count_private_rooms             int64
calculated_host_listings_count_shared_rooms              int64
reviews_per_month                                      float64
dtype: object

In [40]:
# I am now able to see a lot more descriptive statistics! 


df_drop.describe()

,id,host_id,host_resp_rate_pct,host_accept_rate_pct,host_listings_count,latitude,longitude,accommodates,bedrooms,beds,price_usd,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,6.658200e+04,6.658200e+04,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,6.658200e+04,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000,66582.000000
mean,2.843285e+07,1.050920e+08,89.018278,75.125424,64.943213,51.509612,-0.127920,3.005272,1.489312,1.758139,145.264501,6.655222,2.383780e+04,6.386891,16.038314,26.649350,99.663302,15.653705,2.078985,0.287525,4.539952,4.732344,4.621553,4.792048,4.805562,4.748651,4.637149,25.250698,20.744706,4.227975,0.212295,1.750731
std,1.552542e+07,1.139630e+08,16.778037,22.145272,376.578485,0.048317,0.097281,1.927031,0.856870,1.227607,350.056700,30.401096,4.377084e+06,9.990736,21.924983,34.589133,134.249541,36.787570,7.467973,1.076375,0.776379,0.427047,0.489591,0.396367,0.391993,0.356578,0.436543,109.232299,101.799120,20.927294,3.241996,1.999419
min,1.391300e+04,2.010000e+03,0.000000,0.000000,0.000000,51.295937,-0.496160,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.586754e+07,1.744598e+07,89.000000,75.000000,1.000000,51.482863,-0.188650,2.000000,1.000000,1.000000,46.000000,1.000000,3.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.540000,4.730000,4.620000,4.790000,4.800000,4.750000,4.640000,1.000000,0.000000,0.000000,0.000000,0.150000
50%,2.765009e+07,5.194245e+07,89.000000,75.000000,1.000000,51.513830,-0.124905,2.000000,1.000000,1.000000,83.000000,2.000000,1.125000e+03,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,0.000000,4.610000,4.740000,4.620000,4.820000,4.850000,4.750000,4.640000,1.000000,1.000000,1.000000,0.000000,0.640000
75%,4.180807e+07,1.656759e+08,100.000000,91.000000,3.000000,51.539935,-0.068943,4.000000,2.000000,2.000000,145.000000,4.000000,1.125000e+03,10.000000,35.000000,63.000000,180.000000,14.000000,1.000000,0.000000,4.940000,5.000000,4.940000,5.000000,5.000000,5.000000,4.880000,3.000000,2.000000,1.000000,0.000000,4.640000
max,5.371305e+07,4.348812e+08,100.000000,100.000000,3750.000000,51.679830,0.288570,16.000000,22.000000,38.000000,18557.000000,1125.000000,1.000000e+09,30.000000,60.000000,90.000000,365.000000,974.000000,516.000000,85.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,845.000000,844.000000,188.000000,56.000000,57.660000

In [41]:
# Checking the cleaned dataframe

df_drop.head()

,id,host_id,host_since,host_response_time,host_resp_rate_pct,host_accept_rate_pct,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price_usd,minimum_nights,maximum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,54730,2009-11-16,within a few hours,100,85,f,3.0,t,t,Islington,51.56861,-0.11270,Private room in rental unit,Private room,2,1 shared bath,1.0,1.76,65.0,1,29,t,26,56,86,361,22,1,1,2010-08-18,2021-11-21,4.86,4.80,4.85,4.80,4.90,4.65,4.75,f,2,1,1,0,0.16
1,15400,60302,2009-12-05,within a day,67,50,f,1.0,t,t,Kensington and Chelsea,51.48780,-0.16813,Entire rental unit,Entire home/apt,2,1 bath,1.0,1.00,75.0,3,50,t,0,0,0,4,89,0,0,2009-12-21,2020-03-16,4.79,4.84,4.88,4.87,4.82,4.93,4.73,f,1,1,0,0,0.61
2,17402,67564,2010-01-04,within an hour,80,70,f,18.0,t,t,Westminster,51.52195,-0.14094,Entire rental unit,Entire home/apt,6,2 baths,3.0,3.00,265.0,4,365,t,4,34,60,295,43,1,0,2011-03-21,2021-06-28,4.69,4.80,4.68,4.66,4.66,4.85,4.59,f,1,1,0,0,0.33
3,17506,67915,2010-01-05,Unknown,89,75,f,3.0,t,t,Hammersmith and Fulham,51.47935,-0.19743,Private room in townhouse,Private room,2,1 private bath,1.0,1.00,150.0,3,21,t,29,59,89,364,0,0,0,1900-01-01,1900-01-01,4.54,4.73,4.62,4.79,4.80,4.75,4.64,f,2,0,2,0,4.64
4,25123,103583,2010-04-05,Unknown,89,75,f,3.0,t,t,Barnet,51.57438,-0.21081,Private room in residential home,Private room,2,1.5 shared baths,1.0,1.76,29.0,10,1120,t,0,0,0,0,129,0,0,2010-04-14,2020-03-15,4.78,4.70,4.94,4.91,4.89,4.45,4.74,t,3,0,3,0,0.91

## 6. Exporting the Data

In [42]:
# Exporting cleaned dataframe to csv format (with index=False)

df_drop.to_csv(os.path.join(path, '02 Data','Prepared Data', 'listings_clean.csv'), index=False)